div.home {
  display: grid;
  place-items: center;
  position: relative;
}

main {
  width: calc(100% - 2rem);
  margin-top: 3rem;
}

main>article {
  background-color: var(--blue-level-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}

main>article>h3 {
  background-color: var(--white-level-1);
  display: inline-block;
  padding: 4px 8px;
  margin-bottom: 8px;
  border-radius: 4px;
}

main>article>p {
  color: var(--white-level-1);
  text-align: center;
  margin-top: 0px;
  padding: 2px 8px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}


main>section.answers {
  counter-reset: answers-list;
  /* display: flex; */
  /* flex-direction: column; */
}

main>section.answers>div {
  counter-increment: answers-list;
  /* counter-set: answers-list "A"; */
  border: 1px solid var(--blue-level-2);
  margin: 1rem 0px;
  display: grid;
  grid-template-columns: 1.5fr 6.5fr;
  align-items: center;
  cursor: pointer;
  background-color: var(--white-level-1);
  border-radius: 4px;
  line-height: 1.5;
}

main>section.answers>div.correct {
  border: 1px solid green;
}

main>section.answers>div.incorrect {
  border: 1px solid red;
}

main>section.answers>div::before {
  content: counter(answers-list, upper-alpha);
  display: inline-block;
  background-color: var(--blue-level-2);
  font-size: 2rem;
  color: var(--white-level-1);
  text-align: center;
  margin-right: 8px;
}

main>section.answers>div.correct::before {
  background-color: green;
}

main>section.answers>div.incorrect::before {
  background-color: red;
}

div.nextBtnContainer {
  display: block;
  display: grid;
  place-items: center;
  background-color: black;
  border-radius: 8px;
}

div.nextBtnContainer>button {
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
  background-color: black;
  color: var(--white-level-1);
  line-height: 2;
  border-radius: 8px;
}

div.hideNextBtn {
  display: none;
}

/* break  Points */
/* 1200 */
@media screen and (min-width: 1200px) {

  main {
    width: 1080px;
    margin-top: 5rem;
  }

  main>section.answers {
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  div.nextBtnContainer>button {
    line-height: 3;
  }
}

@media screen and (min-width: 768px) {
  main>section.answers {
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}



/* section > div:hover{ */
/* animation: answer-scaling 3s; */
/* transition: scale; */
/* scale: 1.05;
} */
/* 
@keyframes answer-scaling {
  from{transform: scale(1);}
  to{transform: scale(1.05);}
} */