:root{
  --blue-level-1: #0094da;
  --blue-level-2: #0084da;
  --white-level-1: #FEFEFE;
}
main{
  margin: 2rem 1rem;
}
article{
  background-color: var(--blue-level-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

article > h3{
  background-color: var(--white-level-1);
  display: inline-block;
  padding: 4px 8px;
}

article > p{
  color: var(--white-level-1);
  text-align: center;
  margin-top: 0px;
  padding: 2px 8px;
}


section{
  counter-reset: answers-list;
}

section > div{
  counter-increment: answers-list;
  /* counter-set: answers-list "A"; */
}
section > div::before{
  content: counter(answers-list, upper-alpha);
}
